{% extends 'news/base.html' %}
{% block content %}

<h4><p class="text-center">Новости МЕДИКЛИНИК</p></h4>

{% load static%}



{% for news in news %}
<div class="d-flex position-relative">
  <img src = '{{ news.image.url}}' width="200" height="200" class="flex-shrink-0 me-3" alt="...">
  <div>
    <h5 class="mt-0">{{ news.title }}</h5>
    <p>{{news.description|safe|truncatechars:123}}</p>
    <br>
    <a href="{% url 'news:detail' news.id %}" class="stretched-link">Подробнее</a>
  </div>
</div>
<br>
        {% endfor%}

{%endblock%}


